body {
  font-size: 1.2em;
}

li {
  color: blue;
}

button {
  height: 75px;
  background-color: red;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.disabledButton {
  background-color: grey;
}
